*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: white;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  background-image: url('/pattern.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.loader{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  display: flex;  
  flex-direction: column;
  overflow: hidden;
  user-select: none;
  pointer-events: none;

}
.loader-top{
  position: relative;
  width: 100vw;
  height: 75vh;
  background-color: #E72870;
  top: 0;
  left: 0;
  z-index: 2;
}
.loader-top img{
  position: absolute;
  bottom: -50px;
  left: 10%;
  width: 10vw;
}
.loader-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0vw;
  height: 25px;
  background-color: #f7e200;
  z-index: -5;
  
}
.loader-bottom{
  position: relative;
  width: 100vw;
  height: 25vh;
  background-color: #E72870;
  z-index: 1;
  bottom: 0;
  left: 0;
}
@keyframes up {
  0%{
    top: 0;
  }
  100%{
    top: -100vh;
  }
}
@keyframes down {
  0%{
    bottom: 0;
  }
  100%{
    bottom: -100vh;
  }
}